.form-details-div {
    display: flex;
    margin-top: 20px;
}

.form-pair-div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-select-div {
    width: 365px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}