.image-form-main-div {
    display: flex;
    flex-direction: column;
}

.image-form-preview-div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 130px;
}

.image-form-img-div {
    width: 150px;
    height: 100px;
    margin: 20px 0px 20px 16px;
    border-radius: 10px;
}